.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
*.tif
*.xml
*.Rmd
*.html
*.R
*.Rda
*.docx
tab_model_ba_files
^tab_model_bf_files
^*/tab_model_wd_files
!_targets.R
!lm_mod.Rmd
!README.html
!final_wf.Rmd
!post_hoc_power.Rmd
